@{
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    
    <p>
        <a href="https://github.com/ryanrodemoyer/AppNameWeb"><i class="fab fa-github" style="font-size: 32px;"></i></a>
    </p>
</div>
